{% extends "base.html" %}
{% block start %}
<div class="bg-image" 
     style="background-image: url('https://images.pexels.com/photos/2104882/pexels-photo-2104882.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
            height: 100vh">
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                <div class="form-outline form-white mb-4">
                  <input name="loginUsername" id="loginUsername" type="email" placeholder="USERNAME" autocomplete="off" class="form-control form-control-lg" />
                  <label class="form-label" for="loginUsername">Username</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input name="loginPassword" id="loginPassword" placeholder="Password" type="password" class="form-control form-control-lg" />
                  <label class="form-label" for="loginPassword">Password</label>
                </div>
  
                
  
                <button class="btn btn-outline-light btn-lg px-5" onclick="login()">Login</button>
  
                
  
              </div>
  
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock %}